<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   


    <!-- <table class="table">
        {% for i in range(tabla_final.keys()|length) %}
            <tr>
                {% for columna in tabla_final.values() %} 
                    <td>{{ columna[i] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table> -->

    <div class="px-4 sm:px-6 lg:px-8">
        <!-- <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-xl font-semibold text-gray-900">Users</h1>
            <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
          </div>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">Add user</button>
          </div>
        </div> -->
        <div class="mt-8 flex flex-col">
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

                <!-- TABLA -->
                <table class="min-w-full divide-y divide-gray-300">

                    <!-- HEADER -->
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nombre</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Apellido</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Modalidad</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Direccion</th>
                      
                    </tr>
                  </thead>

                  <tbody class="divide-y divide-gray-200 bg-white">
                    <!-- FILA -->
                    {% for i in range(tabla_final.keys()|length) %}
                        <tr>
                            {% for columna in tabla_final.values() %} 
                                <!-- <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Lindsay Walton</td> -->
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ columna[i] }}</td>
                            {% endfor %}
                            <td>
                                <button>Mostrar en mapa</button>
                            </td>
                        </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

  
    <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="">
    </iframe>

    <script>
        const btn = document.getElementsByTagName("button")
        const iframe = document.querySelector("iframe")

        for (let item of btn) {
            item.addEventListener("click", (e) => {
                // console.log(e.target.parentNode.parentNode.children[3].textContent)
                // let direccion = e.target.parentNode.parentNode.children[3].textContent
                // let url = `https://www.google.com/maps/embed/v1/place?key=AIzaSyCAdCXMXHkxwXSJ-S-Dp23IwMmBxaPZHUQ&q=${direccion},PY`
                let url = `https://www.google.com/maps/embed/v1/place?key=AIzaSyCAdCXMXHkxwXSJ-S-Dp23IwMmBxaPZHUQ&q=-25.278246+-57.177720`

                

                iframe.setAttribute("src", url)
            })
        }
    </script> 


</body>
</html>