<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    
</head>
<body>

    <style>
        .alinearCheckbox {
            display: flex;
            padding: 20px;
        }
        button { margin-right: 15px; }
        
    </style>

    <div>
        <div class="navbar bg-stone-200 bg-gradient-to-r from-indigo-500 via-purple-500 to-orange-600">
          <div class="flex-1">
            <img class="h-16 ml-5" src="/static/logo.png" alt="Logo de Artesanos">
          </div>
          <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
              <li style="font-size: 1.65rem; text-decoration: underline;"><a href="/lista">Lista</a></li>
              <!-- <li><a>Mapa</a></li> -->
            </ul>
          </div>
        </div>
    </div>
   
  <div class="alinearCheckbox">
      <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownDefaultCheckbox" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Departamento<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
      
      <!-- Dropdown menu -->
        <form action="/lista" method="post">
            <div id="dropdownDefaultCheckbox" class="hidden z-10 w-48 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 2410px);">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxButton">
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-1" type="checkbox" name="central" value="central" class="ola w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">central</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <input checked="" id="checkbox-item-2" type="checkbox" value="asuncion" name="asuncion" class="ola w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-item-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Asunción</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="concepcion" value="concepcion" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Concepción</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="cordillera" value="cordillera" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cordillera</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="guaira" value="guaira" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Guairá</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="caaguazu" value="caaguazu" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Caaguazú</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="caazapa" value="caazapa" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Caazapá</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="itapua" value="itapua" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Itapúa</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="misiones" value="misiones" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Misiones</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Paraguarí</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="alto parana" value="alto parana" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alto Paraná</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="ñeembucu" value="ñeembucu" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ñeembucú</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="amambay" value="amambay" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Amambay</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="canindeyu" value="canindeyu" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Canindeyú</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="presidente hayes" value="presidente hayes" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Presidente Hayes</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="boqueron" value="boqueron" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Boquerón</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="alto paraguay" value="alto paraguay" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Alto Paraguay</label>
                    </div>
                </li>
                </ul>
            </div>
            <button id="dropdownCheckboxButton" data-dropdown-toggle="dropdownCheckboxModalidad" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Modalidad<svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
      
      <!-- Dropdown menu -->
        <form action="/lista" method="post">
            <div id="dropdownCheckboxModalidad" class="hidden z-10 w-48 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 2410px);">
                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxButton">
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-1" type="checkbox" name="Textiles" value="Textiles" class="ola w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Textiles</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <input checked="" id="checkbox-item-2" type="checkbox" value="Cuero" name="Cuero" class="ola w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                        <label for="checkbox-item-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cuero</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="Madera" value="Madera" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Madera</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="Piedras" value="Piedras" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Piedras</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="Metales" value="Metales" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Metales</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="Astas" value="Astas" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Astas</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="Ceramica" value="Ceramica" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cerámica</label>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                    <input id="checkbox-item-3" type="checkbox" name="Fibras Vegetales" value="Fibras Vegetales" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                    <label for="checkbox-item-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Fibras Vegetales</label>
                    </div>
                </li>
            </div>
            <input type="submit" value="Aplicar" id="btnn">
        </form>
  </div>


    
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="mt-8 flex flex-col">
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block py-2 align-middle md:px-6 lg:px-8">
              <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

                <!-- TABLA -->
                <table class=" divide-y divide-gray-300">

                    <!-- HEADER -->
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nombre</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Apellido</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Modalidad</th>
                      
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Departamento</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Direccion</th>
                      <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Registro</th>
                      
                    </tr>
                  </thead>

                  <tbody class="divide-y divide-gray-200 bg-white">
                    <!-- FILA -->
                    {% for i in range(tabla_final["NOMBRE"]|length) %}
                        <tr>
                            {% for columna in tabla_final.values() %} 
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ columna[i] }}</td>
                                
                            {% endfor %}
                            <td>
                               <a href="" class="perfil-link">Ver perfil</a>
                            </td>
                            
                        </tr>
                    {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script>
      // Seleccionar todos los botones de cambio de ruta
      let links = document.querySelectorAll('.perfil-link');
      

      // Iterar sobre el array de botones
      links.forEach(e => {
        // Extraer el valor de la celda de registro (ID)
        let id = e.parentElement.parentElement.children[5].textContent;
        // En la ruta URL declarar el href con el nuevo ID
        e.setAttribute('href', `/perfiles/${id}`)
      })
      
    </script>


</body>
</html>