<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.29.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  
  <!-- Nav bar -->
  <div class="navbar  bg-stone-200">
    <div class="flex-1">
      <a href="/"><img class="h-16 ml-5" src="/static/logo.png" alt=""></a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li style="font-size: 1.65rem; text-decoration: underline;"><a>Lista</a></li>
      </ul>
    </div>
  </div>
  <br>
  <br>
  
  <body>
    <h1 class="font-bold text-6xl text-center">Asunción</h1>
    <br>
    <br>


<!-- Carousel de Artesanos y Productos -->


    <h1 class="font-bold text-xl m-5">Maestros Artesanos</h1>
      <div class=" p-4">
        <div class="carousel carousel-center rounded-box">
            <div class="carousel-item">
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
                <img class="w-[345px] h-[224px]" src="/static/Artesano_2.jpg" alt="Artesano">
                <div class="px-6 py-4">
                <div style="font-size: 1.6rem" class="text-xl mb-2">Fulgencio Lopez</div>
                <p class="text-gray-700 text-base">
  
              </div>
            </div>
          </div> 
          <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[70%]" src="/static/Artesano_3.jpg" alt="Artesano">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Fidelino Martinez</div>
              <p class="text-gray-700 text-base">
                  
              </p>
              </div>
              <div class="px-6 pt-4 pb-2">
              
            </div>
          </div>
          </div> 
          <div class="carousel-item">
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
                <img class="w-[345px] h-[70%]" src="/static/Artesano_4.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div style="font-size: 1.6rem" class="text-xl mb-2">David Pereira</div>
                <p class="text-gray-700 text-base">
                    
                </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                
              </div>
            </div>
          </div> 
            <div class="carousel-item">
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
                <img class="w-[345px] h-[70%]" src="/static/Artesano_6.jpeg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div style="font-size: 1.6rem" class="text-xl mb-2">Matheo Duarte</div>
                <p class="text-gray-700 text-base">
                    
                </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                
              </div>
            </div>
          </div> 
          <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[70%]" src="/static/Artesano_8.jpg" alt="Sunset in the mountains">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Josefina Martinez</div>
              <p class="text-gray-700 text-base">
                  
              </p>
              </div>
              <div class="px-6 pt-4 pb-2">
            </div>
          </div>
        </div> 
        <div class="carousel-item">
          <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
            <img class="w-[345px] h-[70%]" src="/static/Artesano_9.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
            <div style="font-size: 1.6rem" class="text-xl mb-2">Diana Davalos</div>
            <p class="text-gray-700 text-base">
                
            </p>
            </div>
            <div class="px-6 pt-4 pb-2">
          </div>
        </div>
        </div> 
          <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[70%]" src="/static/Artesano_10.jpg" alt="Sunset in the mountains">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Fernando Zarate</div>
              <p class="text-gray-700 text-base">
                  
              </p>
              </div>
              <div class="px-6 pt-4 pb-2">
              
            </div>
          </div>
          </div> 
          <div class="carousel-item">
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
                <img class="w-[345px] h-[70%]" src="/static/Artesano_11.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div style="font-size: 1.6rem" class="text-xl mb-2">Feliciana Florentin</div>
                <p class="text-gray-700 text-base">
                    
                </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                
              </div>
            </div>
          </div> 
            <div class="carousel-item">
              <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
                <img class="w-[345px] h-[70%]" src="/static/Artesano_12.jpg" alt="Sunset in the mountains">
                <div class="px-6 py-4">
                <div style="font-size: 1.6rem" class="text-xl mb-2">Elias Barreto</div>
                <p class="text-gray-700 text-base">
                </p>
                </div>
                <div class="px-6 pt-4 pb-2">
              </div>
            </div>
          </div> 
      </div> 
        
        </div>
    </div>
    
    <!-- Maestros Artesanos -->
    <h1 class="font-bold text-xl m-5">Artesanias</h1>

    <div class=" p-4">
      <div class="carousel carousel-center rounded-box">
          <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[70%]" src="/static/TAPIZ-ROSA.jpg" alt="Sunset in the mountains">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Tapiz</div>
              <p class="text-gray-700 text-base">
            </div>
          </div>
        </div> 
        <div class="carousel-item">
          <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
            <img class="w-[345px] h-[70%]" src="/static/PIMENTERO-ZULEMA-2.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
            <div style="font-size: 1.6rem" class="text-xl mb-2">Pimentero</div>
            <p class="text-gray-700 text-base">
                
            </p>
            </div>
            <div class="px-6 pt-4 pb-2">
            
          </div>
        </div>
        </div> 
        <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[70%]" src="/static/Nanduti.png" alt="Sunset in the mountains">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Ñanduti</div>
              <p class="text-gray-700 text-base">
                  
              </p>
              </div>
              <div class="px-6 pt-4 pb-2">
              
            </div>
          </div>
        </div> 
          <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[224px]" src="/static/Cuenco de Palo Santo.jpg" alt="Sunset in the mountains">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Cuenco</div>
              <p class="text-gray-700 text-base">
                  
              </p>
              </div>
              <div class="px-6 pt-4 pb-2">
              
            </div>
          </div>
        </div> 
        <div class="carousel-item">
          <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
            <img class="w-[345px] h-[70%]" src="/static/TAPIZ-NAJIROME.jpg" alt="Sunset in the mountains">
            <div class="px-6 py-4">
            <div style="font-size: 1.6rem" class="text-xl mb-2">Tapiz</div>
            <p class="text-gray-700 text-base">
                
            </p>
            </div>
            <div class="px-6 pt-4 pb-2">
          </div>
        </div>
      </div> 
      <div class="carousel-item">
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
          <img class="w-[345px] h-[70%]" src="/static/LANZA-JUEGO-DE-4-2.jpg" alt="Sunset in the mountains">
          <div class="px-6 py-4">
          <div style="font-size: 1.6rem" class="text-xl mb-2">Juego de Lanza</div>
          <p class="text-gray-700 text-base">
              
          </p>
          </div>
          <div class="px-6 pt-4 pb-2">
        </div>
      </div>
      </div> 
        <div class="carousel-item">
          <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
            <img class="w-[345px] h-[70%]" src="/static/Jabonera-Kambuchi-apo.jpg"alt="Sunset in the mountains">
            <div class="px-6 py-4">
            <div style="font-size: 1.6rem" class="text-xl mb-2">Jabonera</div>
            <p class="text-gray-700 text-base">
                
            </p>
            </div>
            <div class="px-6 pt-4 pb-2">
            
          </div>
        </div>
        </div> 
        <div class="carousel-item">
            <div class="max-w-sm rounded overflow-hidden shadow-lg m-5">
              <img class="w-[345px] h-[70%]" src="/static/BOLSO-TOTORA-CAMI-MAIZ.jpg" alt="Sunset in the mountains">
              <div class="px-6 py-4">
              <div style="font-size: 1.6rem" class="text-xl mb-2">Bolso</div>
              <p class="text-gray-700 text-base">
                  
              </p>
              </div>
              <div class="px-6 pt-4 pb-2">
      </div>
    </div> 
      </div>
  </div>
<br>
<br>
<br>
<br>

  </body>
    <!--  
Pie de Pagina -->

<footer class="p-4">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="" class="flex items-center">
                <img src="/static/logo.png" class="mr-3 h-8" alt="Artesanias" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Artesanias</span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Apoyados por</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://www.artesania.gov.py/" class="hover:underline" target="_blank">Instituto Paraguayo de Artesania</a>
                    </li>
                    <li>
                        <a href="https://senatur.gov.py/" class="hover:underline" target="_blank">Secretaria Nacional de Turismo</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Seguinos en</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="https://www.instagram.com/institutoparaguayodeartesania/?hl=es" class="hover:underline " target="_blank">Instagram</a>
                    </li>
                    <li>
                        <a href ="https://www.facebook.com/InstitutoParaguayoArtesania/" class="hover:underline" target="_blank">Facebook</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Politica de Privacidad</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Terminos &amp; Condiciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="http://127.0.0.1:5000" class="hover:underline">Artesanias</a>. Todos los derechos reservados.
        </span>
    </div>
  </footer>


  </body>
</html>